NEXT_PUBLIC_TUSKSCAN_API_URL=http://localhost:8787
NEXT_PUBLIC_TUSKSCAN_NETWORK=mainnet
NEXT_PUBLIC_TUSKSCAN_PACKAGE_ID=<published move/tuskscan package id>
NEXT_PUBLIC_TUSKSCAN_CONFIG_ID=<published AuditConfig object id>
